.email_box{
    height: 698px;
    width: 1440px;
    border-radius: 0px;
    
    margin-top:40px;
}
.inside_box{
padding-top: 150px;
padding-bottom: 110px;
height: 478px;
width: 1198px;
margin-left: 121px;
margin-right: 121px;
border-radius: 20px;
background: #007FF4;
border-radius: 20px;
margin-bottom: 110px;
}
.subs{
height: 78px;

font-family: 'Source Sans Pro';
font-style: normal;
font-weight: 600;
font-size: 48px;
line-height: 78px;
text-align: center;

color: #FFFFFF;
}
.des_s{
    font-family: 'Source Sans Pro';
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 39px;


text-align: center;

color: #FFFFFF;

}
.email_sec{
    display: flex;
  margin:253px 175px 105px 177px;  
  background: #FFFFFF;
border-radius: 10px;

height: 120px;
width: 846px;

}
.email_sec input{
    font-family: 'Source Sans Pro';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 39px;
    
    height: 39px;
width: 546px;

    color: #9B9B9B;
    margin:40px 264px 41px 36px;
     border: none; 
}
.email_sec button{
    background: #007FF4;
border-radius: 37px;

height: 74px;
width: 176px;

border-radius: 37px;
border: none;
margin:23px 22px 23px 66px;
}
.email_sec .btn{
    font-family: 'Source Sans Pro';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    
    color: #FFFFFF;
    
}

@media screen and (max-width:1050px){
    
    .inside_box{
        width: 548px;
        height: 250px;
       margin-left: -7px;
       margin-bottom: 0px;
        }
        .email_box{
            height: 510px;
        }
        .subs{
            margin-top: -80px;
            
        }
        .email_sec{

          margin:70px 10px 105px 10px;  
        height: 80px;
        width: 525px;
        
        }
        .email_sec input {
margin:20px 0 0 5px;
        }
        .email_sec button{
            height: 40px;
width: 150px;
margin-top: 20px;
        }


        
    }
    
  