.footer_s{
    margin-top: 110px;
}
.f_nav{
    display: flex;
    margin: 50px 121px 0 50px;
    gap: 703px;
    height: 144px;
    width:1440px;
}
.footer__links{
    display: flex;
    flex-direction: row;
    gap:23px;
    height: 20px;
}
.footer__links a{
  font-size: 30px;
  color: #0073FF;
  margin: 0 30px 0 0;
}
.main_f{
    height: 241px;
    width:1440px;  
    background: #ECF4FF; 
}
.f_images{
    display: flex;
    padding-top: 49px;
}
.f_images .fb{
    height: 51px;
    width: 51px;
    margin-left: 124px;   
}

.f_images .gg{
    height: 51px;
    width: 51px;
    margin-left: 9px;
    
    
}
.f_images .tw{
    height: 51px;
    width: 51px;
    margin-left: 9px;
      
}
.f_text{
    height: 34px;
width: 213px;
margin-left: 121px;
}
.f_text p{
    font-family: 'Open Sans';
font-style: normal;
font-weight: 600;
font-size: 14px;
line-height: 34px;

color: #667C94;
}
.footer__logo {
    font-family: 'Source Sans Pro';
    font-style: normal;
    font-weight: 700;
    font-size: 34px;
    line-height: 43px;
    color: #0073FF;
    width: 159px;


}
.footer__logo p span {
   color: #FF9F6A;
   
}


@media screen and (max-width:1050px){
    .f_nav  {
        width:525px;
        height: auto;
        margin:0;
        gap:0px;
        flex-direction: column;
        justify-content: center;
        text-align: center;
        align-items: center;
       }
       .footer__logo p{
        font-size: 48px;
       }
       .footer__logo{
        width:530px;
      
        margin:0 0 0 10px;
       }
       .main_f{
    
        margin: 0 0 -7.25px -8px;
        width:570px;
       }
       .f_images .fb{
        height: 51px;
        width: 51px;
        margin-left: 183px;   
    }
    
    .f_text{
        
    margin-left: 185px;
    }
}

    
